# VIM/Emacs
*.swp
*~

# Travis-CI configuration
.travis.yml

# Git
.git
.gitignore

# Coverage directory used by tools like istanbul
coverage

# Generated API docs
doc
docs

# Local dependencies
node_modules

# Vagrant configuration and Puppet modules
Vagrantfile
puppet

# Vagrant cache
.vagrant

# Do not publish test and dev files
test
tmp
makefile
yuidoc.json
.eslintrc
.jshintrc
